<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar p-3 mb-2 fixed-top navbar-expand-lg navbar-dark bg-dark bg-gradient" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="beer-yellow.svg" alt="" width="64" height="64">
            Liquor Store
        </a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" id="home">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>